@charset "UTF-8";
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --almost-white: #FFFDFA;
  --dark-space: #00001A;
  --gun-metal: #5E607A;
  --light-vermillion: #F15D51;
  --silver:#C5C6CE;
  --yellow: #E9AA52;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

a:link,
a:visited,
a:hover,
a:active {
  list-style: none;
  color: inherit;
  cursor: pointer; /* or pointer if you want to keep the default hand cursor */
}

li {
  list-style: none;
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/** 

	100 : Thin
	•	200 : Extra Light (Ultra Light)
	•	300 : Light
	•	400 : Normal
	•	500 : Medium
	•	600 : Semi Bold (Demi Bold)
	•	700 : Bold
	•	800 : Extra Bold (Ultra Bold)
	•	900 : Black (Heavy)

  */
body {
  font-family: "Inter", serif;
  background-color: var(--green-200);
  color: var(--color-dark-charcoal);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
}

.heading-xl {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 56px;
}

.heading-l {
  font-size: 4rem;
  font-weight: 700;
  line-height: 40px;
}

.heading-m {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 32px;
}

.heading-s {
  font-size: 2rem;
  font-weight: 800;
  line-height: 24px;
}

.heading-xs {
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 24px;
}

.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered-div2 {
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
}

.centered-div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

.error-message {
  color: var(--red);
}

.error-input {
  border: 1px solid var(--red) !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionContainer {
  background-color: bisque;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 6.4rem;
  width: 100%;
  max-width: 37.5rem;
  margin: 3.2rem 2.8rem 7.5rem;
}
@media only screen and (min-width: 48rem) {
  .sectionContainer {
    max-width: 111rem;
    grid-gap: 5.4rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 6.1rem 16.5rem 12.4rem;
  }
  .sectionContainer__hero {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .sectionContainer__news {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .sectionContainer__articles {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

.page-wrapper {
  position: relative;
  min-height: 100vh;
}

.navigation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
}

:root {
  --foreground: #FFFDFA;
  --background: #00001A;
  --bar-width:40px;
  --bar-height:4px;
  --hamburger-gap: 6px;
  --hamburger-margin: 27px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: fixed;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
  z-index: 1001;
  cursor: pointer;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before, .hamburger-menu input, .hamburger-menu::after {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--background);
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  width: 100%;
  max-width: 25.6rem;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  transition: translate var(--animation-timing);
  translate: 100%;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  opacity: 0;
}
.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 14.4rem 2.4rem;
  font-size: 1.8rem;
  line-height: 24px;
}
.sidebar__link {
  color: var(--background);
  list-style: none;
  text-decoration: none;
  transition: color var(--animation-timing);
  cursor: pointer;
}
.sidebar__link:hover {
  color: var(--yellow);
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
  opacity: 1;
}

.hamburger-menu:has(input:checked) ~ .container {
  padding-left: calc(10rem + var(--hamburger-margin));
}

.container {
  padding-left: calc(var(--hamburger-margin) * 2 + var(--bar-width));
  min-height: 100vh;
  position: relative;
  transition: padding-left var(--animation-timing);
}

.attribution {
  margin: 1.6rem 0 6rem;
  font-size: 1.1rem;
  text-align: center;
  color: var(--grey-900);
}
.attribution__credit {
  font-weight: 800;
  color: var(--green-600) !important;
}
.attribution a {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
