:root {

  --foreground: #FFFDFA; 
  --background: #00001A;
  --bar-width:40px;
  --bar-height:4px;
  --hamburger-gap: 6px;
  --hamburger-margin: 27px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2); 


}
.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;  
  position: fixed;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
  z-index: 1001;  
  cursor: pointer;
  // background-color: var(--foreground);
  // color: var(--background);


}

// .hamburger-menu:has(input:checked) {
//   background-color: var(--background);
//   color: var(--background);
// }

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}


.hamburger-menu::before,.hamburger-menu input,.hamburger-menu::after {
  content: '';
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--background);
  // border-radius: 9999px;
  transform-origin: left center;
  transition: 
  opacity var(--animation-timing), 
  width var(--animation-timing),
  rotate var(--animation-timing),
  translate var(--animation-timing),
  background-color  var(--animation-timing);
} 

.hamburger-menu input {
  appearance: none;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}
.hamburger-menu input:checked {
  opacity: 0; 
  width: 0;
}

.sidebar {
  width: 100%;
  max-width: 25.6rem;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  transition: translate var(--animation-timing);
  translate: 100%;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  opacity: 0;
  &__nav {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 14.4rem 2.4rem;
    font-size:1.8rem;
    line-height: 24px;
  }
  &__link {
    color: var(--background);
    list-style: none;
    text-decoration: none;
    transition: color var(--animation-timing);
    cursor: pointer; 
    &:hover {
      color: var(--yellow);
    }
  }
}
.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
  opacity: 1;
}
.hamburger-menu:has(input:checked) ~ .container {
  padding-left: calc(10rem + var(--hamburger-margin));
}

.container {
  // padding-left: calc(var(--hamburger-margin) * 2 + var(--bar-width));
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
  transition: padding-left var(--animation-timing);
  margin: 3.2rem 1.6rem 7.5rem;
}
