:root {
  --almost-white: #FFFDFA;
  --dark-space: #00001A;
  --gun-metal: #5E607A;
  --light-vermillion: #F15D51;
  --silver :#C5C6CE;
  --yellow: #E9AA52;  
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--almost-white);

}
html {
  box-sizing: border-box;
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}
a:link,
a:visited,
a:hover,
a:active {
  list-style: none;
  color: inherit;
  cursor: pointer; /* or pointer if you want to keep the default hand cursor */
}

li {
  list-style: none;
}
/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
