.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.centered-div2 {
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
}

.centered-div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  //-webkit-appearance: none;
}

.error-message {
  color: var(--red); 
}

.error-input {
  border: 1px solid var(--red) !important
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sectionContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 6.4rem; 
  width: 100%;
  max-width: 37.5rem;  
  

  @include respond(tab-port) {
    max-width: 111rem;
    grid-gap:5.4rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr; 
    margin: 6.1rem 16.5rem 12.4rem;
    
    &__hero {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    &__news {
      grid-column: 2/3;
      grid-row: 1/2;
    }
    &__articles {
      grid-column: 1/3;
      grid-row: 2/3;
    }
  }  
  
}


.page-wrapper {
  position: relative;
  min-height: 100vh;
}

.navigation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; 
  z-index: 1000;
}


picture, img {
  display: block;        
  max-width: 100%;      
  height: auto;         
  margin: 0 auto;       
}