.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.7rem 0;
  @include respond(tab-port) {
    margin: 8.9rem 0 5.5rem;
  }
}
.logo {
  width: 4.5rem;
  height: 2.8rem;
  @include respond(tab-port) {
    width: 6.5rem;
    height: 4rem;
  }
}

.desktop-nav {
  display: none; 
  @include respond(tab-port) {
    display: block;
  }
  
}

.desktop-nav__list {
  
  display: flex;
  gap: 4rem;
  align-items: center;
}

.desktop-nav__list a {
  color: var(--gun-metal);
  text-decoration: none;
  transition: color var(--animation-timing);
}

.desktop-nav__list a:hover {
  color: var(--yellow);
}

.main {
  margin-bottom: 12.9rem;
}
.sectionContainer {
 
  &__hero {
    &__img {
      margin-bottom: 3.2rem;
    }
    &__container {
      display: flex;
      flex-direction: column;
      
      gap: 3rem;
      @include respond(tab-port) {
      flex-direction: row;
       &__txt {
        max-width: 35rem;
       }
      }   
    }
    &__title {
      width: 100%;
      max-width: 32rem;
      font-size: 4rem;
      font-weight: 700;
      line-height: 40px;
      margin-bottom: 1.6rem;  
      @include respond (tab-port) {
        max-width: 35rem;
        font-size: 5.6rem;
        line-height: 56px;
        font-weight: 800;
      }    
    }
    &__txt {
      color : var(--gun-metal);
      margin-bottom: 2.4rem;
    }
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      background-color: var(--light-vermillion);
      color: var(--dark-space);
      padding: 1.2rem 2.4rem;
      line-height: 24px;
      letter-spacing: 4.38px;
      font-size: 1.4rem;
      font-weight: bold;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: var(--dark-space);
        color: var(--almost-white);
        cursor: pointer;
      }
    }
  }
  &__news {
    background-color: var(--dark-space);
    color: var(--almost-white);
    &__title {
      padding: 2.4rem 2.1rem 3.5rem;
      color: var(--yellow);
      @include respond(tab-port) {
        padding:3.2rem 2.4rem 3.2rem;
        font-size: 4rem;
        font-weight: bold;
      }
    }
    &__articles {
      padding : 0 2rem 2.4rem 2.1rem;
      &__article {

        &__title {
          margin-bottom: 0.8rem;
          color: var(--almost-white);
          transition: color 0.3s ease-in-out;
          
          &:hover {
            cursor: pointer;
            color: var(--yellow);
          }
          
        }
        &__txt {
          margin-bottom: 2.9rem;
          color: var(--silver);
        }
        & hr {
          border: 0.1rem solid  #5E607A;
          margin-bottom: 3.1rem;
        }
      }
    }
  }
  &__articles {
    display: flex;
    flex-direction: column;    
    gap: 3.2rem;
    height: max-content;
    @include respond(tab-port) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 2.4rem;
    }
    
    &__article {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2.4rem;

      &__img   {
        max-width: 100%;      
        width: 10rem;
        max-height: 127px;
        height: auto;  
      }
      &__container {
        & h2 {
          color: var(--light-vermillion);
          margin-bottom: 1.2rem;
        }
        & h3 {
          margin-bottom: 0.9rem;
        }
        & p {
          color: var(--gun-metal);
          
        }
      }
    }
  }
}