.attribution {
  margin: 1.6rem 0 6rem;
  font-size: 1.1rem;
  text-align: center;
  color: var(--grey-900);
  &__credit {
    font-weight: 800;
    color: var(--green-600) !important;
  }
  & a {
    cursor: pointer;
  }
}
       